@import "../../../globals";

:host {
  .loading-bar {
    margin: $margin-medium;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 10px;

    .loading-progress {
      height: 100%;
      background-color: $intense-green;
    }
  }
}
